<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Brendo Silva</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" class="ion-padding">
    <ion-item class="conteudo">
      <img alt="rhino standing near grass" src="./../assets/brendoperfil.jpg" />
    </ion-item>
    <br>
    <ion-item>
      <b><h1>Nome: Brendo Silva</h1></b>

    </ion-item>
    <ion-item>
      <b><h2>Turma: [PAS23103|BG|N|ADS0301N]</h2></b>
    </ion-item>


  </ion-content>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>Redes sociais:</ion-title>
    <ion-item>
      <a href="https://instagram.com/rics.dev" target="_blank"><ion-icon name="logo-instagram"></ion-icon></a>
      <a href="https://github.com/BrendoRSS" target="_blank"><ion-icon name="logo-github"></ion-icon></a>
      <a href="https://www.linkedin.com/in/rics-dev/" target="_blank"><ion-icon name="logo-linkedin"></ion-icon></a>
    </ion-item>
  </ion-toolbar>
</ion-footer>